* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #0000ff, #00d9ff);
    

}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 30px 40px;
    width: 20%;
    min-width: 400px;

}

.title {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 10px;
}

.new-task-container {
    background-color: #fff;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 5px;
}

.new-task-container input {
    font-size: 1rem;
    border: 0px;
    padding: 12px;
    font-weight: 500;
}

.new-task-button {
    width: 200px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    border: none;
    background-color: blue;
    color: #fff;
    padding: 8px;
    margin-left: 5px;
    margin-right: 8px;
    cursor: pointer;
}


.tasks-container {
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 5px;
    width: 100%;
    
}

.itens{
    display: flex;
    justify-content: space-between;
}

.button-itens{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #41b883;
    padding: 12px;
    border-radius: 5px;
}

.vermelho{
    background-color: red;
}

.azul{
    background-color: #4175b8;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

